/* You can add global styles to this file, and also import other style files */
@import "../node_modules/open-iconic/font/css/open-iconic-bootstrap.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

@font-face {
  font-family: "sans";
  src: url("./assets/fonts/iransans.woff") format("woff"),
    url("./assets/fonts/iransans.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: "sans_bold";
  src: url("./assets/fonts/IRANSans-Bold-web.woff") format("woff"),
    url("./assets/fonts/IRANSans-Bold-web.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: "sans_light";
  src: url("./assets/fonts/IRANSssansLight.woff") format("woff"),
    url("./assets/fonts/IRANSssansLight.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: "sans_medium";
  src: url("./assets/fonts/IRANSansMedium.woff") format("woff"),
    url("./assets/fonts/IRANSansMedium.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

body,
span {
  font-size: 0.875rem;
  direction: rtl;
  text-align: right;
  font-family: "sans";
}

label {
  font-size: 0.775rem;
  direction: rtl;
  text-align: right;
  font-family: "sans";
}
